<div class="background-image" id="image">
  <button mat-mini-fab class="more-button">
    <mat-icon class="more-icon">more_vert</mat-icon>
  </button>
  <img src="assets/profile.jpg" class="profile-img">
</div>

<div class="title-div" (scroll)="onScroll($event)">
  <h1 class="title-name">Rodrigo Pizarro</h1>
  <div class="monthly-span">10,0000,000 MONTHLY LISTENERS</div>
  <div class="head-buttons-grid">
    <button mat-flat-button class="play-button">
      <div class="button-text">PLAY</div>
    </button>
    <button mat-flat-button class="follow-button">
      <div class="button-text">FOLLOW</div>
    </button>
  </div>
</div>

