<div class="background-image" id="image">
  <img src="assets/profile.jpg" class="profile-img">
</div>

<div class="title-div" (scroll)="onScroll($event)">
  <h1 class="title-name">Rodrigo Pizarro</h1>
  <div class="monthly-span">10,000,000 {{texts[0][langId]}}</div>
  <div class="head-buttons-grid">
    <button mat-flat-button class="play-button">
      <div class="button-text">PLAY</div>
    </button>
    <button mat-flat-button class="follow-button" (click)="follow()">
      <div class="button-text" id="follow">{{texts[1][langId]}}</div>
    </button>
  </div>
</div>

