<div class="div-box">
  {{texts[0][langId]}}
  <div class="playlist-carousel">
    <owl-carousel-o [options]="mySlideOptions">
      <ng-template carouselSlide *ngFor="let playlist of playlists;let i = index">
        <div class="item" [routerLink]="['/playlist', playlist.id]" routerLinkActive="active">
          <div class="playlist-container-div">
            <img class="playlist-image" src={{playlist.image}}/>
            <div class="playlist-title">{{playlist.title[langId]}}</div>
            <div class="playlist-subtitle">{{playlist.subtitle[langId]}}</div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
