.playlist-image{
  height: 150px;
  width: 150px;
}
.playlist-container-div:hover{
  opacity: 0.5;
}
.playlist-container-div {
  width: 150px;
  margin-top:20px;
}
.playlist-carousel{
  margin-left: 20px;
  margin-right: 20px;
}

.playlist-title{
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.playlist-subtitle{
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  color: var(--color-secondary);
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 801px) {
  .playlist-subtitle {
    text-align: left;
    width: 180px;
  }
  .playlist-title {
    text-align: left;
    width: 180px;
  }
  .playlist-container-div {
    width: 180px;
  }
  .playlist-image {
    height: 180px;
    width: 180px;
  }
}
