<div [@openClose]="isOpen ? 'open' : 'closed'" class="div-box" id="album">
  <div class="album-container">
    <button mat-mini-fab class="more-button">
      <mat-icon class="more-icon">share</mat-icon>
    </button>
    <button mat-mini-fab class="minimize-button" (click)="toggle()">
      <mat-icon class="more-icon">expand_more</mat-icon>
    </button>
    <h1 class="album-title">{{currentAlbum.title[langId].toUpperCase()}}</h1>
    <h1 class="album-subtitle">{{currentAlbum.subtitle[langId].toUpperCase()}}</h1>
    <ul class="album-list">
      <li class="song-holder" [style]="songs.length?'display:none':''">
        <div class="no-songs">{{texts[0][langId]}}</div>
      </li>
      <li *ngFor="let song of songs" class="song-holder" routerLink="/song/{{song.id}}" routerLinkActive="active">
        <img src="{{song.image}}" class="song-image">
        <div class="song-name">{{song.name[langId]}}</div>
        <div class="song-duration">{{song.duration[langId]}}</div>
      </li>
    </ul>
  </div>
</div>
