/* You can add global styles to this file, and also import other style files */

:root{
  --viewport-4: 480px;
  --viewport-7: 768px;
  --viewport-9: 992px;
  --viewport-12: 1200px;
  --color-background: #101010;
  --color-primary: #1abb54;
  --color-secondary: #616663;
  --color-light: #A2A7A5;
  --color-text: #FFFFFF;

}

html{
  height: 100%;
  background-color: var(--color-background);
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-text);
}

*:focus{
  outline: none;
  outline-style: none;
}

.div-box{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-weight: bold;
  margin-top: 35px;
}
