/* You can add global styles to this file, and also import other style files */

:root{
  --color-background: #000000;
  --color-primary: #1ed760;
  --color-secondary: 	#4687d6;
  --color-light: #A2A7A5;
  --color-text: #FFFFFF;

}

html{
  height: 100%;
  background-color: var(--color-background);
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-text);
}
