<div [@openClose]="isOpen ? 'open' : 'closed'" class="div-box" id="song">
  <div class="song-container">
    <button mat-mini-fab class="more-button">
      <mat-icon class="more-icon">share</mat-icon>
    </button>
    <button mat-mini-fab class="minimize-button" (click)="toggle()">
      <mat-icon class="more-icon">expand_more</mat-icon>
    </button>
    <h1 class="song-title">{{currentSong.name[langId].toUpperCase()}}</h1>
    <h1 class="album-title">{{currentSong.al.title[langId].toUpperCase()}}</h1>
    <div class="description-container">
      <p class="description">{{currentSong.description[langId]}}</p>
      <img src="{{currentSong.al.image}}" class="background-image">
    </div>
    <div class="song-footer">
      <i class="like-icon far fa-heart fa-lg"></i>
      <div class="footer-song-title">{{currentSong.name[langId]}}</div>
      <div class="footer-song-artist">Rodrigo Pizarro</div>
      <div class="footer-duration-left">{{currentSong.duration[langId].split('-')[0]}}</div>
      <div class="footer-duration-right">{{currentSong.duration[langId].split('-')[1]}}</div>
      <input type="range" min="1" max="100" step="0.3" value="{{cursor}}" (change)="setCursor(myRange)" class="slider" #myRange id="myRange">
      <div class="icons">
        <button class="icon"><i class="fas fa-random fa-lg"></i></button>
        <button class="icon"><i class="fas fa-step-backward fa-2x"></i></button>
        <button class="icon" (click)="startPlaying(myRange)"><mat-icon style="font-size: 5em;margin-left: -3vmin;margin-right: -3vmin;display: inline">{{isPlaying?'pause_circle_filled':'play_circle_filled'}}</mat-icon></button>
        <button class="icon"><i class="fas fa-step-forward fa-2x"></i></button>
        <button class="icon"><i class="fas fa-retweet fa-lg"></i></button>
      </div>

    </div>
  </div>
</div>

